<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTC API</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div class=" bg-gray-900 h-screen">

        <main class="bg-gray-900">
            <div class="relative px-6 lg:px-8 ">
                <div class="mx-auto max-w-2xl">
                    <svg data-v-70b83f88="" version="1.0" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
                        viewBox="0 0 340.000000 200.000000" preserveAspectRatio="xMidYMid meet"
                        color-interpolation-filters="sRGB" style="margin: auto;">
                        <g data-v-70b83f88="" fill="#ffffff" class="icon-text-wrapper icon-svg-group iconsvg"
                            transform="translate(73.80000305175781,92.09246063232422)">
                            <g class="iconsvg-imagesvg" transform="translate(0,0)"
                                mask="url(#58ae8e0a-1931-4510-8976-2ff53822a183)">
                                <g>
                                    <rect fill="#ffffff" fill-opacity="0" stroke-width="2" x="0" y="0"
                                        width="37.199999999999974" height="65.81508085347295" class="image-rect"></rect>
                                    <svg filter="url(#colors2284946876)" x="0" y="0" width="37.199999999999974"
                                        height="65.81508085347295" filtersec="colorsf767708359"
                                        class="image-svg-svg primary" style="overflow: visible;">
                                        <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
                                            xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                            xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1"
                                            x="0px" y="0px" viewBox="24 4 52 92" enable-background="new 0 0 100 100"
                                            xml:space="preserve">
                                            <path
                                                d="M30.028,96h39.943C73.296,96,76,93.203,76,89.765V60.902c0-2.612-0.823-6.514-1.874-8.885l-2.179-4.912  c-0.055-0.268-0.169-0.523-0.334-0.754l-0.534-1.205c-0.83-1.87-1.531-5.196-1.531-7.262v-5.459C71.584,31.464,73,29.397,73,27  c0-2.215-1.209-4.149-3-5.188V9c0-2.757-2.243-5-5-5H35c-2.757,0-5,2.243-5,5v12.812c-1.791,1.04-3,2.973-3,5.188  c0,2.397,1.416,4.464,3.452,5.424v5.459c0,2.066-0.701,5.392-1.531,7.262l-3.048,6.872C24.823,54.388,24,58.29,24,60.902v28.863  C24,93.203,26.704,96,30.028,96z M34,16.398l19.283-5.007c0.238-0.062,0.4-0.29,0.372-0.541c-0.031-0.275-0.279-0.473-0.554-0.442  L34,12.55V9c0-0.551,0.449-1,1-1h30c0.551,0,1,0.449,1,1v3.054l-19.283,5.007c-0.238,0.062-0.4,0.29-0.372,0.541  c0.031,0.275,0.279,0.473,0.554,0.442L66,15.902V21H34V16.398z M33,25h34c1.103,0,2,0.897,2,2s-0.897,2-2,2H33c-1.103,0-2-0.897-2-2  S31.897,25,33,25z M28,60.902c0-2.065,0.701-5.392,1.53-7.263l3.047-6.871c1.051-2.369,1.875-6.271,1.875-8.884V33h31.096v4.883  c0,2.613,0.823,6.515,1.875,8.884l0.105,0.238c-3.629,2.764-7.892,1.752-12.763,0.583c-5.275-1.266-11.254-2.702-16.211,1.79  c-0.819,0.742-0.881,2.006-0.139,2.825c0.395,0.436,0.938,0.657,1.482,0.657c0.479,0,0.959-0.171,1.342-0.518  c3.392-3.074,7.655-2.051,12.592-0.864c4.935,1.185,10.438,2.499,15.354-0.734l1.284,2.895C71.299,55.51,72,58.836,72,60.902v28.863  C72,90.997,71.09,92,69.972,92H30.028C28.91,92,28,90.997,28,89.765V60.902z">
                                            </path>
                                        </svg></svg>
                                    <defs>
                                        <filter id="colors2284946876">
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0.0390625  0 0 0 0 0.0234375  0 0 0 0 0.09765625  0 0 0 1 0"
                                                class="icon-fecolormatrix"></feColorMatrix>
                                        </filter>
                                        <filter id="colorsf767708359">
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 1 0"
                                                class="icon-fecolormatrix"></feColorMatrix>
                                        </filter>
                                        <filter id="colorsb9563206271">
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 0"
                                                class="icon-fecolormatrix"></feColorMatrix>
                                        </filter>
                                    </defs>
                                </g>
                                <rect v-gra="id" width="49.20000076293945" height="77.81507873535156"
                                    transform="translate(-6, -6)" style="pointer-events:none;"
                                    fill="url(#0_sTk_9mT6Al3lMHfE65o)"></rect>
                            </g>
                            <g transform="translate(50.20000076293945,6.668340682983398)">
                                <g data-gra="path-name" fill-rule="" stroke="#ffffff" class="tp-name iconsvg-namesvg">
                                    <g transform="scale(1)">
                                        <g>
                                            <path
                                                d="M7.57-52.400400000000005L7.57-52.400400000000005 13.52-52.400400000000005Q18.51-52.400400000000005 18.51-45.037200000000006L18.51-45.037200000000006 18.51-7.3632Q18.51 0 13.52 0L13.52 0 7.57 0Q2.52 0 2.52-7.3632L2.52-7.3632 2.52-45.037200000000006Q2.52-52.400400000000005 7.57-52.400400000000005ZM13.68-8.5332L13.68-8.5332 13.68-43.867200000000004Q13.68-45.364799999999995 13.36-45.8328 13.04-46.2852 12.07-46.2852L12.07-46.2852 8.96-46.2852Q8-46.2852 7.7-45.8328 7.4-45.364799999999995 7.4-43.867200000000004L7.4-43.867200000000004 7.4-8.5332Q7.4-7.0356 7.7-6.5676000000000005 8-6.1152 8.96-6.1152L8.96-6.1152 12.07-6.1152Q13.04-6.1152 13.36-6.5676000000000005 13.68-7.0356 13.68-8.5332ZM26.36-52.400400000000005L42.45-52.400400000000005 42.45-46.2852 36.82-46.2852 36.82 0 31.99 0 31.99-46.2852 26.36-46.2852 26.36-52.400400000000005ZM65.97-45.037200000000006L65.97-35.989200000000004 61.03-35.989200000000004 61.03-44.0232Q61.03-45.5364 60.73-46.0044 60.44-46.4568 59.47-46.4568L59.47-46.4568 56.74-46.4568Q55.77-46.4568 55.45-46.0044 55.13-45.5364 55.13-44.0232L55.13-44.0232 55.13-8.2836Q55.13-6.786 55.45-6.318 55.77-5.8656 56.74-5.8656L56.74-5.8656 59.47-5.8656Q60.44-5.8656 60.73-6.318 61.03-6.786 61.03-8.2836L61.03-8.2836 61.03-16.2396 65.97-16.2396 65.97-7.3632Q65.97 0.07800000000000001 60.92 0.07800000000000001L60.92 0.07800000000000001 55.23 0.07800000000000001Q50.24 0.07800000000000001 50.24-7.3632L50.24-7.3632 50.24-45.037200000000006Q50.24-52.400400000000005 55.23-52.400400000000005L55.23-52.400400000000005 60.92-52.400400000000005Q65.97-52.400400000000005 65.97-45.037200000000006L65.97-45.037200000000006ZM105.75 0L100.86 0 99.52-12.136800000000001 92.44-12.136800000000001 91.21 0 86.38 0 92.33-52.400400000000005 99.36-52.400400000000005 105.75 0ZM95.82-45.8796L93.03-18.252 98.88-18.252 95.82-45.8796ZM114.18 0L114.18-52.400400000000005 125.18-52.400400000000005Q130.17-52.400400000000005 130.17-45.037200000000006L130.17-45.037200000000006 130.17-27.6276Q130.17-20.264400000000002 125.18-20.264400000000002L125.18-20.264400000000002 119.01-20.264400000000002 119.01 0 114.18 0ZM125.34-28.797600000000003L125.34-28.797600000000003 125.34-43.867200000000004Q125.34-45.364799999999995 125.02-45.8328 124.7-46.2852 123.73-46.2852L123.73-46.2852 119.01-46.2852 119.01-26.286 123.73-26.286Q124.7-26.286 125.02-26.785200000000003 125.34-27.284399999999998 125.34-28.797600000000003ZM139.89 0L139.89-52.400400000000005 144.72-52.400400000000005 144.72 0 139.89 0Z"
                                                transform="translate(-2.5199999809265137, 52.40039825439453)"
                                                stroke-width="0.5" stroke-linejoin="round"></path>
                                        </g> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
                                    </g>
                                </g> <!---->
                            </g>
                        </g>
                        <defs v-gra="od"></defs>
                        <defs v-gra="id">
                            <filter id="f401ed5e-490d-4941-a27e-f2f5096844dc" filterUnits="userSpaceOnUse">
                                <feColorMatrix type="matrix"
                                    values="0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 1 0">
                                </feColorMatrix>
                            </filter>
                            <linearGradient x1="0" y1="1" x2="0" y2="0" id="0_sTk_9mT6Al3lMHfE65o">
                                <stop offset="0%" stop-color="#00c5fb"></stop>
                                <stop offset="100%" stop-color="#175bea"></stop>
                            </linearGradient>
                            <filter id="42443b3f1de60f6b6fd3b6a9844b4764" filterUnits="userSpaceOnUse">
                                <feColorMatrix type="matrix"
                                    values="0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 1 0">
                                </feColorMatrix>
                            </filter>
                        </defs>
                        <mask v-gra="im" id="58ae8e0a-1931-4510-8976-2ff53822a183">
                            <g class="iconsvg-imagesvg" filter="url(#f401ed5e-490d-4941-a27e-f2f5096844dc)">
                                <g>
                                    <rect fill="#ffffff" fill-opacity="0" stroke-width="2" x="0" y="0"
                                        width="37.199999999999974" height="65.81508085347295" class="image-rect"></rect>
                                    <svg x="0" y="0" width="37.199999999999974" height="65.81508085347295"
                                        filtersec="colorsf767708359" class="image-svg-svg primary"
                                        style="overflow: visible;"><svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
                                            xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                            xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1"
                                            x="0px" y="0px" viewBox="24 4 52 92" enable-background="new 0 0 100 100"
                                            xml:space="preserve">
                                            <path
                                                d="M30.028,96h39.943C73.296,96,76,93.203,76,89.765V60.902c0-2.612-0.823-6.514-1.874-8.885l-2.179-4.912  c-0.055-0.268-0.169-0.523-0.334-0.754l-0.534-1.205c-0.83-1.87-1.531-5.196-1.531-7.262v-5.459C71.584,31.464,73,29.397,73,27  c0-2.215-1.209-4.149-3-5.188V9c0-2.757-2.243-5-5-5H35c-2.757,0-5,2.243-5,5v12.812c-1.791,1.04-3,2.973-3,5.188  c0,2.397,1.416,4.464,3.452,5.424v5.459c0,2.066-0.701,5.392-1.531,7.262l-3.048,6.872C24.823,54.388,24,58.29,24,60.902v28.863  C24,93.203,26.704,96,30.028,96z M34,16.398l19.283-5.007c0.238-0.062,0.4-0.29,0.372-0.541c-0.031-0.275-0.279-0.473-0.554-0.442  L34,12.55V9c0-0.551,0.449-1,1-1h30c0.551,0,1,0.449,1,1v3.054l-19.283,5.007c-0.238,0.062-0.4,0.29-0.372,0.541  c0.031,0.275,0.279,0.473,0.554,0.442L66,15.902V21H34V16.398z M33,25h34c1.103,0,2,0.897,2,2s-0.897,2-2,2H33c-1.103,0-2-0.897-2-2  S31.897,25,33,25z M28,60.902c0-2.065,0.701-5.392,1.53-7.263l3.047-6.871c1.051-2.369,1.875-6.271,1.875-8.884V33h31.096v4.883  c0,2.613,0.823,6.515,1.875,8.884l0.105,0.238c-3.629,2.764-7.892,1.752-12.763,0.583c-5.275-1.266-11.254-2.702-16.211,1.79  c-0.819,0.742-0.881,2.006-0.139,2.825c0.395,0.436,0.938,0.657,1.482,0.657c0.479,0,0.959-0.171,1.342-0.518  c3.392-3.074,7.655-2.051,12.592-0.864c4.935,1.185,10.438,2.499,15.354-0.734l1.284,2.895C71.299,55.51,72,58.836,72,60.902v28.863  C72,90.997,71.09,92,69.972,92H30.028C28.91,92,28,90.997,28,89.765V60.902z">
                                            </path>
                                        </svg></svg>
                                    <defs>
                                        <filter id="colors2284946876">
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0.0390625  0 0 0 0 0.0234375  0 0 0 0 0.09765625  0 0 0 1 0"
                                                class="icon-fecolormatrix"></feColorMatrix>
                                        </filter>
                                        <filter id="colorsf767708359">
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 0 0.99609375  0 0 0 1 0"
                                                class="icon-fecolormatrix"></feColorMatrix>
                                        </filter>
                                        <filter id="colorsb9563206271">
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 0"
                                                class="icon-fecolormatrix"></feColorMatrix>
                                        </filter>
                                    </defs>
                                </g>
                            </g>
                        </mask>
                    </svg>

                    <div class="text-center">
                        <p class="text-lg leading-8 text-gray-600">API to provide information about over the
                            counter medications.</p>
                        <div class="mt-10 flex items-center justify-center gap-x-6">
                            <a href="/api-docs"
                                class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Documentation</a>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>





    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <span class="ml-3 text-xl">OTC API</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2023 OTC API —
                <a href="https://twitter.com/forgione67" class="text-gray-600 ml-1" rel="noopener noreferrer"
                    target="_blank">@forgione67</a>
            </p>

            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">

                <a class="ml-3 text-gray-500" href="https://twitter.com/forgione67">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>

                <a class="ml-3 text-gray-500" href="https://www.linkedin.com/in/feliceforgione/">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>

</body>

</html>